# location: /lib/systemd/system/

[Unit]
Description=Node Dash service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/home/cbmelo/.nvm/versions/node/v11.6.0/bin/node /home/cbmelo/knot/src/knot-dash-source/dash-lib-node/index.js

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/node-dash-service
ExecStartPre=/bin/chown syslog:adm /var/log/node-dash-service
ExecStartPre=/bin/chmod 755 /var/log/node-dash-service
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-dash-service

[Install]
WantedBy=multi-user.target